.footer {
  @include outer-container;
  background: $black;
  bottom: 0;
  height: 60px;
  left: 0;
  max-width: none;
  padding: 0.5em 0;
  position: absolute;
  width: 100%;
  .left-nav {
    @include span-columns(3);
    @media (max-width: 985px) {
      @include span-columns(12);
    }
    ul {
      float: left;
    }
  }
  .right-nav {
    @include span-columns(9);
    @media (max-width: 985px) {
      @include visually-hidden;
    }
    ul {
      float: right;
      margin-right: 1.5em;
    }
  }
  ul {
    li {
      border-right: 1px solid $white;
      display: inline-block;
      &:last-child {
        border: none;
      }
      &.copyright {
        border: none;
        color: $gray-medium;
        a {
          color: $gray-medium;
        }
      }
      a {
        color: $white;
        border: 0;
        box-shadow: none;
        padding: .5em;
        text-decoration: none;
        &:hover,
        &:active {
          border: 0;
          text-decoration: none;
        }
      }
    }
  }
}
