html {
  font-family: $font-sansserif;
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 60px;
}

.main {
  padding: 0 2em 2em;
}

.outer-section {
  @include outer-container;
  &.narrow {
    max-width: 800px;
  }
  .row {
    @include row();
    margin: 0 0 1em;
    @include media($tablet) {
      margin: 0;
    }
  }
  .nine {
    @include span-columns(9);
  }
  .eight {
    @include span-columns(8);
  }
  .six {
    @include span-columns(6);
  }
  .three {
    @include span-columns(3);
  }
  .four {
    @include span-columns(4);
  }
  .three, .four, .six, .nine {
    @include media($tablet) {
      @include span-columns(12);
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}

// Typography
h2 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0 0 1em 0;
}

h3 {
  margin: 0;
}

a {
  border-bottom: 1px solid $color-blue-light;
  box-shadow: inset 0 -1px 0 0 $color-blue-light;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:active {
    border-bottom: 1px solid $color-teal-gray;
    box-shadow: inset 0 -2px 0 0 $color-teal-gray;
    color: inherit;
    transition: all 0.8s ease;
  }

  &.unlink {
    border: 0;
    box-shadow: none;
    text-decoration: none;
    &:hover,
    &:active {
      border: 0;
      text-decoration: none;
    }
  }
}

p {
  margin: 0;
  padding: 1em 0;
}

label {
  color: #7f7f7f;
  cursor: pointer;
  float: left;
  font-size: .9em;
  font-weight: bold;
  letter-spacing: 2px;
  min-width: 150px;
  text-transform: uppercase;
}

input {
  font-size: 1em;
  margin: 0.5em 0.5em 1em 0;
  padding: .5em .25em;
}

input[type='text'] {
  width: 100%;
  &.dollar {
    margin: .1em 0;
    padding: 0 .1em;
    width: 100px;
  }
}

// For hiding number input spinner on webkit browsers
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, {
    -webkit-appearance: none;
    margin: 0;
}

.label-info {
  font-family: $font-sansserif;
  font-size: 1.2em;
  font-style: normal;
  margin: 0;
  padding: 0.2em 0 0.8em 0;
}


// Masthead with logo
.masthead {
  @include outer-container;
  border-bottom: 2px solid $yellow-tribune;
  img {
    padding: 1em 2em;
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(8);
    }
  }
}

// Form styles
.form-outer-section {
  &:last-of-type {
    border-bottom: none;
  }
}

.dollar {
  color: $black;
  font-family: $league-gothic;
  font-size: 3.5em;
  margin: 0;
  &.uneditable {
    border: none;
  }
}

#pay_fees {
  clear: both;
  float: left;
  margin-left: -20px;
  @include media($tablet) {
    margin-left: 0;
  }
}

#pay-fee-amount {
  float: left;
  padding: 0.2em 0 0 0;
}

#pay-fee-info {
  clear: both;
  padding: 0;
  margin-bottom: 1em;
}

// styles for openended status radio buttons on yearly member form
#openended_status {
  margin: 0 0 1em;
  padding: 0;
}

label[for='openended_status-0'], label[for='openended_status-1'] {
  float: none;
}

// Stripe form submit button styles
.button {
  color: $black;
  font-family: $font-sansserif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.03em;
  padding: 0.5em 1.8em;
  text-align: center;
  &:focus {
    outline: none;
  }
}

.button-flat {
  background-color: $yellow-tribune;
  border: 2px solid $yellow-tribune;
  color: #222222;
  font-weight: 700;
  height: 30px;
  line-height: 0;
  padding: 1em;
  text-align: center;
  &:hover {
    background-color: $white;
    color: #222222;
    cursor: pointer;
  }
}

// Error styles
.form-error {
  display: none;
}

.error-form-message {
  clear: both;
  color: red;
}


// 404 and thank-you page images
.img-wrapper {
  text-align: left;
  img {
    padding: 1em;
    width: 450px;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}


// Social share buttons
.social-wrapper {
  margin-bottom: 1em;
  a:hover {
    text-decoration: none;
  }
}

.social {
  color: $white;
  font-size: 1em;
  margin: 0.5em 0.5em 0.5em 0;
  &:hover {
    opacity: 0.9;
  }
}

.facebook {
  background: #2b4185;
}

.twitter {
  background: #4298ed;
}

.email {
  background: $yellow-tribune;
}
