{% extends "layout.html" %}
{% block title %}
  The Blast | The Texas Tribune
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  <header class="blast_header">
    <div class="outer-section narrow">
      <figure class="blast_logo six">
        <a href="https://www.texastribune.org/theblast/" class="unlink"><img src="{{ url_for('static', filename='img/TT-blast_logo-product-only.svg') }}" alt="The Blast logo, a product of The Texas Tribune"></a>
      </figure>
    </div>
  </header>
  <div class="main">
    <div class="outer-section narrow">
      <div class="nine">
        <p>
          Thank you for subscribing to The Blast!
          You'll receive an order confirmation email shortly.
          Should you have any questions about your subscription,
          please email <a href="mailto:blast@texastribune.org">blast@texastribune.org</a>.
        </p>
      </div>
    </div>
    <div class="outer-section narrow social-wrapper">
      <div class="six">
        <a href="mailto:?Subject=Check%20out%20The%20Blast&amp;Body=https://www.texastribune.org/theblast/">
        <div class="button social email">
          <i class="fa fa-envelope"></i>Enjoy The Blast? Suggest it to a friend
        </div>
      </div>
    </div>
  </div>
{% endblock %}
