{% extends "layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="main">
    <div class="outer-section">
      <p class="nine">Thank you for donating to The Texas Tribune! If you'd prefer to become a member instead, you can select that option on <a href="https://support.texastribune.org/levels.html">our membership page</a>.</p>
    </div>
    <form id="form" action="/charge" method="post">
      {{ form.csrf_token }}
      <div class="outer-section form-outer-section">
        <h2>Donation Info</h2>
        <div class="form-section three">
          <label>Amount</label><br>
            <span class="dollar">$</span>
              {{ form.amount(value=amount, class="dollar") }}
        </div>
        <div class="form-section three">
          {{ form.pay_fees.label }}
            {{ form.pay_fees(checked=False) }}
          <p id="pay-fee-amount" class="label-info"><span></span></p>
          <p id="pay-fee-info">Paying these tax-deductible fees directs more money in support of the Tribune’s mission.</p>
        </div>
        <div class="form-section three">
          <label>Duration</label><br>
            <p class="label-info">One-Time Donation</p>
        </div>
      </div>
      {% include 'includes/form_inner.html' %}
      {{ form.openended_status(value=openended_status) }}
      {{ form.installments(value=installments) }}
      {{ form.description(value='The Texas Tribune Donation') }}
    </form>
  </div>
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
