{% extends "layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="main">
  <div class="img-wrapper">
    <img src="https://static.texastribune.org/media/marketing/tt-404_sorry.png" />
  </div>
  <h2>{{ message }}</h2>
  <p>If you're trying to become a member or make a donation, you can go to <a href="//support.texastribune.org/">our membership and donation page</a> for more info on how to support us or contact us at <a href="mailto:membership@texastribune.org">membership@texastribune.org</a>.</p>
  <p>If you're having trouble signing up for The Blast, please email <a href="mailto:blast@texastribune.org">blast@texastribune.org</a>.</p>
  <p>Visit <a href="https://www.texastribune.org/">The Texas Tribune homepage</a> to read and explore our content or the <a href="https://www.tribtalk.org/">TribTalk homepage</a> to explore our op-ed for the 21st century.</p>
</div>
{% endblock %}
