{% extends "layout.html" %}
{% block title %}
  {{ super() }}
{% endblock %}
{% block extra_script %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  <div class="main">
    <div class="outer-section">
      <p class="nine">
        Thank you for supporting The Texas Tribune by becoming a member! Sustaining membership allows you to support journalism that matters with an ongoing gift from your credit card. It auto-renews each year, and helps eliminate renewal mailings or lapses in your membership. Visit our <a href="https://support.texastribune.org/levels.html" ga-on="click" ga-event-category="Navigation" ga-event-action="view-levels-from-memberform">membership page</a> if you want to choose a different membership level.
      </p>
    </div>
    <form action="/charge" method="post">
      {{ form.csrf_token }}
      <div class="outer-section form-outer-section">
        <h2>Membership Info</h2>
        <div class="form-section three">
          <label>{% if installment_period == 'yearly' %}Annual{% endif %}{% if installment_period == 'monthly' %}Monthly{% endif %} Amount</label><br>
            <span class="dollar">$</span>
              {{ form.amount(readonly=true, value=amount, class="dollar uneditable") }}
          {% if installment_period == 'yearly' %}
            {{ form.openended_status }}
          {% else %}
            {{ form.openended_status(class='visually-hidden') }}
          {% endif %}
          {{ form.installments(value=installments) }}
        </div>
        <div class="form-section three">
          {{ form.pay_fees.label }}
            {{ form.pay_fees(checked=False) }}
          <p id="pay-fee-amount" class="label-info"><span></span>{% if installment_period == 'yearly' %} yearly{% endif %}{% if installment_period == 'monthly' %} monthly{% endif %}</p>
          <p id="pay-fee-info">Paying these tax-deductible fees directs more money in support of the Tribune’s mission.</p>
        </div>
        <div class="form-section three">
          <label>Level</label><br>
          <p class="level label-info"></p>
        </div>
      </div>
      {% include 'includes/form_inner.html' %}
      {{ form.description(value='The Texas Tribune Membership') }}
    </form>
  </div>
  {% if installment_period and amount %}
    {% include 'includes/display_levels_js.html' %}
  {% endif %}
  {% include 'includes/change_installments_js.html' %}
  {% include 'includes/stripe_checkout_js.html' %}
  {% include 'includes/display_pay_fees.html' %}
{% endblock %}
